@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

#logo {
  width: 189px;
  height: 99px;
  background-color: #86eb33b5;
  margin:-24px 0px 10px 10px;
}

#head {
  height: 6px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

